/* Global Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Home Section */
#home {
    background-image: url('assets/Bg.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-attachment: fixed; 
}

/* Navigation Bar */
.site-navbar {
    position: absolute;
    width: 100%;
    top: 2rem;
    z-index: 1999;
}

.container-fluid {
    padding-left: 7rem;
    padding-right: 7rem;
}

@media (max-width: 1199.98px) {
    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.site-logo {
    position: absolute;
    left: 5%;
}

@media (max-width: 767.98px) {
    .site-logo {
        position: relative;
        left: auto;
    }
}

.site-logo img {
    position: relative;
    top: -10px; 
}

.site-logo a {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    letter-spacing: 0.2rem;
    text-decoration: none;
    margin-left: 10px;
    font-weight: bold;
    font-family: "Century", "Century Gothic", sans-serif;
}

.site-navigation {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}

.site-menu {
    margin-bottom: 0;
}

.site-menu li {
    display: inline-block;
}

.site-menu a {
    padding: 20px 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.site-menu a:hover,
.site-menu .active {
    color: rgb(117, 116, 116);
}

@media (max-width: 767.98px) {
    .site-navigation {
        position: relative;
        left: auto;
        transform: none;
    }
}

.intro h1 {
    font-size: 65px;
}

.intro p {
    font-size: 42px;
}

/* About Section */
#about {
    background-color: white;
    padding: 100px 20px;
    margin-top: 200px;
    margin-bottom:100px;
    border: 1px solid #ccc; 
    max-width: 55%;
    margin-left: auto;
    margin-right: auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 15px; 
}

#about img {
    max-width: auto;
    height: auto;
}

#about p {
    text-align: Justify;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    #about {
        padding: 30px 10px;
    }
}

.contact-section {
    padding: 50px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.contact-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.contact-section ul {
    list-style: none;
    margin-top: 10px;
}

.list-unstyled a {
    color: black;
    text-decoration: none;
}

.list-unstyled a:hover {
    color: blue;
    text-decoration: none; 
}
